.welcome-text {
    width: 100%;
    height: 100vh; /* A altura da seção ocupa 100% da altura da viewport */
    display: flex; /* Flexbox para centralização */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centraliza o texto */
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/seguranca-do-trabalho-2.jpg') no-repeat center center; */
    background-size: cover; /* Cobertura total */
    padding-top: 80px; /* Adiciona espaço para o cabeçalho */
    animation: fadeIn 1s ease-in; /* Animação de entrada */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.welcome-text h1 {
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra de texto */
}

.welcome-text h1 span {
    color: #3998EA;
}

.welcome-text p {
    font-size: 18px;
    margin: 20px 0;
}

.contact-us-btn {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    transition: background 0.3s, color 0.3s; /* Transição suave */
}

.contact-us-btn:hover {
    background: #3998EA; /* Cor de fundo ao passar o mouse */
    color: #333; /* Cor do texto ao passar o mouse */
}
