.services {
    width: 100%;
    height: auto; /* Ajustado para auto */
    padding: 60px 20px;
    /* background-color: #111;  */
    color: #fff;
    text-align: center;
    display: flex; /* Flexbox para centralizar o conteúdo */
    flex-direction: column; /* Coluna para empilhamento vertical */
    justify-content: center; /* Centraliza verticalmente */
}

.services h2 {
    font-size: 36px; /* Tamanho do título */
    margin-bottom: 40px; /* Maior espaço abaixo do título */
    color: #00fecb; /* Cor do título */
}

.service-container {
    display: flex;
    justify-content: center; /* Alinha os itens ao centro */
    gap: 40px; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Para ajuste em telas menores */
}

.service-item {
    background-color: rgba(255, 255, 255, 0.1); /* Fundo semitransparente */
    border-radius: 8px;
    padding: 20px;
    width: calc(33.33% - 40px); /* Ajusta para 3 itens por linha, considerando o gap */
    text-align: center;
    transition: transform 0.3s ease;
    box-sizing: border-box; /* Para garantir que o padding e a borda não aumentem o tamanho total */
}

.service-item i {
    font-size: 48px; /* Aumente o tamanho do ícone conforme necessário */
    color: #00fecb; /* Cor do ícone */
    margin-bottom: 15px; /* Espaço abaixo do ícone */
}

.service-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.service-item p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.service-btn {
    border: 1px solid #00fecb;
    padding: 10px 20px;
    color: #00fecb;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.service-btn:hover {
    background: #00fecb;
    color: #111;
}

.service-item:hover {
    transform: translateY(-10px); /* Elevação ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .service-item {
        width: calc(50% - 40px); /* 2 itens por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .service-item {
        width: 100%; /* 1 item por linha em telas muito pequenas */
    }
}
